h1, h2, h3 {
  font-family: sans-serif, 'Courier New', Courier, monospace;
  color: blue;
}
body {
  font-family: 'Verdana',sans-serif, 'Courier New', Courier, monospace;
  }

#viz1,#viz2,#viz3{
    width: 80%;
    height: 300px;
}